.body {
    background-image: url("./img/sky.jpg");
    background-position: right 25% bottom 35%;
    background-attachment: fixed;
}

.mainTitle {
    background-color: rgba(255, 10, 10, 0.6);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

h4 {
    background-color: rgba(255, 255, 10, 0);
}

.card-scale {
    transition: transform 1s, background-color 1s;
}

.card-scale:hover {
    transform: scale(1.1);
    background-color: rgba(10, 10, 150, 0.3);
}

.search-button {
    transition: box-shadow 2s;
}

.search-button:hover {
    box-shadow: 1px 1px 10px 1px rgba(64, 133, 88, 1);
}

.view-details-button {
    transition: box-shadow 2s;
	background-color: rgba(255, 10, 10, 0.6) !important;
}

.view-details-button:hover {
	box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 1);
}

.image-of-day-link:hover {
	text-decoration: underline;
}