{% extends 'application/base.html' %}

{% block title %}
    {{ block.super }} - Details
{% endblock %}

{% block content %}
    {% if asteroid %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 50vw;">
              <div class="card-header">
                {{ asteroid.name }} - Derniers passages
              </div>
              <ul class="list-group list-group-flush">
                  {% for date, distance in asteroid.latest_approach.items %}
                  <li class="list-group-item">
                      Le <span>{{ date }}</span> à <span>{{ distance }}</span> km de votre tête
                  </li>
                  {% endfor %}
              </ul>
            </div>
        </div>

    {% endif %}
{% endblock %}