{% extends 'application/base.html' %}

{% block title %}
    {{ block.super }} - Details
{% endblock %}

{% block content %}
    {% if asteroid %}
        <div class="d-flex justify-content-center">
            <div class="card" style="width: 40vw;">
              <div class="card-header">
                  Les 5 derniers passages de l'astéroïd <span class="font-weight-bold" style="color: rgba(48, 109, 165, 0.8)">{{ asteroid.name }}</span>
              </div>
              <ul class="list-group list-group-flush">
                  {% for date, distance in asteroid.latest_approach.items %}
                  <li class="list-group-item">
                      Le <span>{{ date }}</span> à <span>{{ distance }}</span> km de votre tête
                  </li>
                  {% endfor %}
              </ul>
            </div>
        </div>
        <div class="d-flex justify-content-center">
            <input type=button value="Retour aux résultats" onClick="javascript:history.go(-1);" class="btn btn-warning mt-5 view-details-button">
        </div>

    {% endif %}
{% endblock %}