<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Don't Look Up - {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'application/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
</head>
<body class="body">
    <div class="d-flex justify-content-center">
        <h1 class="text-center text-uppercase my-4 w-50 border border-dark rounded">Don't Look Up !</h1>
    </div>
    <div class="d-flex justify-content-center">
        <h4 class="text-center mb-4 border-dark border-start border-top ps-1">L'application pour se faire peur</h4>
    </div>
    <div id="content" class="mt-5">
        {% block content %}
        {% endblock %}
    </div>

    <script>
        let loader = true;

        function displaySpinner() {
            if (loader) {
                document.getElementById("loader").style.display = "block";
                document.getElementById("search-results").style.display = "none";
            }
        }
    </script>
</body>
</html>