{% extends 'application/base.html' %}

    {% block title %}
        {{ block.super }} - Homepage
    {% endblock %}

    {% block content %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Recherche" class="btn btn-success">
        </form>
        <div>
            {% if asteroids %}
                {% for asteroid in asteroids %}
                    <div class="card">
                      <div class="card-body">
                        <h5 class="card-title">Son nom : {{ asteroid.name }}</h5>
                        <p class="card-text">Son diamètre : {{ asteroid.diameter }} km</p>
                        <p class="card-text">Distance avec votre tête : {{ asteroid.miss_distance }} km</p>
                        <p class="card-text">Date : {{ asteroid.close_approach_date }}</p>
                        <a href="#" class="btn btn-warning">En savoir plus...vraiment?</a>
                      </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>Request...</p>
            {% endif %}
        </div>
    {% endblock %}