{% extends 'application/base.html' %}

    {% block title %}
        {{ block.super }} - Homepage
    {% endblock %}

    {% block content %}
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Recherche">
        </form>
        <div>
            {% if asteroids %}
                {% for asteroid in asteroids %}
                    <p>Name : {{ asteroid.name }}</p>
                {% endfor %}
            {% else %}
                <p>Request...</p>
            {% endif %}
        </div>
    {% endblock %}