{% extends 'application/main.html' %}

{% block title %}
	{{ block.super }} - Homepage
{% endblock %}

{% block content %}
	{% include "./search_asteroid_form.html" %}
	{% include "application/components/loader.html" %}

	{% if messages %}
		{% for message in messages %}
			{% include 'application/components/alert_message.html' %}
		{% endfor %}
	{% else %}
	<div class="container" id="search-results" onload="displaySpinner()">
		{% if asteroids %}
		<div class="row text-center">
			{% for asteroid in asteroids %}
				{% include './asteroid_card.html'%}
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% include 'application/components/search_image_link.html' %}
{% endblock %}
