{% extends 'application/main.html' %}

{% block title %}
	{{ block.super }} - Homepage
{% endblock %}

{% block content %}
	{% include "./searchAsteroidForm.html" %}
	{% include "application/components/loader.html" %}

	{% if messages %}
		{% for message in messages %}
			<div class="d-flex justify-content-center">
				<p class="alert alert-danger">{{message}}</p>
			</div>
		{% endfor %}
	{% else %}
	<div class="container" id="search-results" onload="displaySpinner()">
		{% if asteroids %}
		<div class="row text-center">
			{% for asteroid in asteroids %}
				{% include './asteroidCard.html'%}
			{% endfor %}
		</div>
		{% endif %}
	</div>
	{% endif %}
	{% include 'application/components/searchImageLink.html' %}
{% endblock %}
